.statistics {
  margin: 20px auto;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  text-align: center;
  font-size: 34px;
  padding: 20px;
}
